= simple_form_for(@task) do |f|
  -if @task.errors.any?
    %div#error_explanation
      %h2
        = pluralize(@task.errors.count, "error") + 'prohibited this user from being saved:'

      %ul
        -@task.errors.full_messages.each do |message|
          %li= message

  = f.hidden_field :user_id, :value => current_user.id
  
  %div.row
    %div.col-md-6

      %div.form-group
        = f.input :yesterday, :as => :text, :input_html => {:class => "form-control"}

      %div.form-group
        = f.input :today, :as => :text, :input_html => {:class => "form-control"}

      %div.form-group
        = f.input :impediments, :as => :text, :input_html => {:class => "form-control"}

      %div.form-group
        = f.label :task_date    
        = f.date_select :task_date, :required => true, :class=> "form-control"
    
      %div.actions
        %button.btn.btn-warning{type: 'submit'}
          ="Gravar"
