
<% if session[:my_team][0][1] == 1 %>

	<div class="page-header">
	  <h1>Listing Tasks of My Team</h1>
	</div>

	<p>My Teams: 
	<% @teams.each do |team| %>
	<%= team.name %>
	<% end %>
	</p>

	<table>
	  <thead>
	    <tr>      
	      <th>User</th>
	      <th>Yesterday</th>
	      <th>Today</th>
	      <th>Impediments</th>
	      <th>Task date</th>
	      <th colspan="3"></th>
	    </tr>
	  </thead>

		<tbody>

		<% @tasks_of_my_team.each do |t| %>

			<!-- 
			[0]u.id user_id
			[1],u.login
			[2],tm.is_leader
			[3],t.yesterday
			[4],t.today
			[5],t.impediments
			[6],t.task_date
			-->
			<% if t[0] != session[:user_id] then %>
			<tr>
				<td><%= t[1] %></td>
				<td><%= t[3] %></td>
				<td><%= t[4] %></td>
				<td><%= t[5] %></td>
				<td><%= t[6] %></td>
			</tr>
			<% end%>
		  

		<% end %>
	</tbody>
	</table>
<% else %>
<div class="page-header">
  <h1>Welcome!</h1>
</div>
<% end %>