<div class="page-header">
  <h1>Listing Users</h1>    
</div>

<p id="notice"><%= notice %></p>

<table class="table table-hover">
    <thead>
      <tr>
        <th>Login</th>
        <th>Email</th>
        <th>#</th>
      </tr>
    </thead>
    <tbody>
      <% @users.each do |user| %>
        <tr>
          <td><%= user.login %></td>
          <td><%= user.email %></td>
          <td>
            <%= button_to 'Show', user, :class => 'btn btn-success' %>
            <%= link_to 'Edit', edit_user_path(user) %>
            <%= link_to 'Destroy', user, method: :delete, data: { confirm: 'Are you sure?' } %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>

<br>

<%= link_to 'New User', new_user_path %>
